body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

a {
    text-decoration: none;
    color: #2980b9;
}

.image-container {
    width: 10%;
}

.photo {
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box;
    width: 100%;
    height: auto;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #34495e;
    font-weight: 500;
}

.description-i {
    font-weight: 400;
    font-style: italic;
}

.description {
    font-weight: 200;
}

.main-separator {
    width: 60%;
}

.social-media-links {
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 60%;
    a {
        font-size: larger;
    }
    img {
        width: 25%;
        height: auto;
    }
}